@font-face {
    font-family: 'foglihtenNo07calt';
    src: url('assets/FoglihtenNo07calt.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ponsi_rounded_slabregular';
    src: url('assets/PonsRoundedSlab-Regular-webfont.eot');
    src: url('assets/PonsRoundedSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/PonsRoundedSlab-Regular-webfont.woff2') format('woff2'),
         url('assets/PonsRoundedSlab-Regular-webfont.woff') format('woff'),
         url('assets/PonsRoundedSlab-Regular-webfont.ttf') format('truetype'),
         url('assets/PonsRoundedSlab-Regular-webfont.svg#ponsi_rounded_slabregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

html { 
	height: 100%; 
}
body { 
	position: absolute; 
	top:0; bottom:0; right:0; left:0; 
	height: 100%;
}

#main-page {
	background-color: transparent;
	position: absolute; 
	top:0; bottom:0; right:0; left:0; 
	height: 100%;
}

#tabbing {
	z-index: 1000;
	right: 0;
    width: 10%;
    position: absolute;
    top: 0;
  	background-color: transparent;
}
.tabs {
	background-color: transparent;
	color: white;
}
.tabs .tab {
	min-width: 0;
}
.tabs .tab a {
	color: black;
}
.tabs .indicator {
	background-color: black;
}

/*page 1*/
#num1 {
	height: 100%;
	background: url('assets/file-page1.jpg') center center no-repeat;
	/*text-align: center;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*page 2*/
#num2 {
	/*background-color: #95A3B0;*/
	height: 100%;
	width: 100%;
	position: inherit;
	background-color: #93A4B0;
	text-align: center;
}
#num2box {
	border: 4px solid white;
	width: 50%;
	margin: auto;
}
.found {
	font-family: 'foglihtenNo07calt';
}
#found-design-main {
	overflow: hidden;
	color: white;
	font-size; 8rem;
}
#est-span {
	overflow: hidden;
	width: 40%;
	margin: auto;
}
#est-text {
	color: black;
	width: 100%; 
	text-align: center; 
	border-bottom: 4px solid #000; 
	line-height: 0.1em; 
	margin: 10px 0 20px; 
}
#est-text span { 
	background: #93A4B0;
	padding:0 10px; 
}
#timeless {
	overflow: hidden;
}
.main-text {
	font-family: 'ponsi_rounded_slabregular';
	color: white;
}


/*page 3*/
#num3 {
	height: 100%;
	background: url('assets/largeLogo.jpg') center center no-repeat;
	/*text-align: center;*/
}



#main-card {
	/*height: 100%;*/
}